<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
        <div>
            <h3>What is the TF2 Advanced Trade Calculator?</h3>
            <p>
                This trade calculator is made with the purpose to assist traders in dealing with items with add-ons,
                like Paints or Strange parts. These kinds of items are notoriously difficult to sell for several reasons:
            </p>
            <ol>
                <li>
                    They are a niche item (Only appeal to those who like the paint/part)
                </li>
                <li>
                    Selling the individual items earns more.
                </li>
                <li>
                    Pricing for these items varies heavily and can be difficult to process.
                </li>
            </ol>
            <p>
                While this site can't help with the first two, I can help by at least alieviating the tedious task
                of pricing. While I don't expect trading to be radically altered by a site like this, I do expect at least
                the barrier to entry into this niche market to be lowered by a bit.
            </p>

            <h3>Planned Features/Change log</h3>
            <div class ="text-success">
                Implemented:
                <ul>

                </ul>
            </div>
            <div class="text-warning">
                Unimplemented:
                <ul>
                    <li>Mock Trade offer window</li>
                    <li>Search and Select items</li>
                    <li>Calculate item price and total trade price using backpack.tf API</li>
                    <li>Allow user to set universal discounts to applied Paints and Strange Parts</li>
                    <li>Allow user to set discounts on specific applied Paints and Strange Parts</li>
                </ul>
            </div>
            <div>
                Thinking about it:
                <ul>
                    <li>Implement Steam OAuth2 and allow user to login using their Steam account</li>
                    <li>Show user their items and backpack.tf price, and adjust prices of items</li>
                    <li>Allow logged in users to create mock trades between each other and negotiate prices</li>
                </ul>
            </div>
        </div>
    </body>
</html>